.panel-header {
    width: 100%; height: 10%;
    display: flex; align-items: center; justify-content: center;
    background-color: rgb(90, 90, 90);
    color: white;
}
.panel-header p {
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.panel-body {
    width: 100%; height: 90%;
    display: flex;
}
.panel-body .panel-sidebar{
    width: 20%; 
    background-color: rgb(138, 138, 138);
    color: white;
    align-items: center;
}
.panel-body .panel-sidebar .sidebar-item{
    padding: 1rem;
    text-align: center;
}
.panel-body .panel-sidebar .sidebar-item.active{
    background-color: rgb(55, 61, 61);
}

.panel-body .panel-container{
    width: 80%;
    background-color: rgb(44, 44, 44);
}
.panel-body .panel-container .msj-list {
    width: 100%; height: 100%;
    color: white;
    padding: 1rem;
    display: flex; flex-wrap: wrap;
    overflow-y: scroll;
    
}
.panel-body .panel-container .msj-list .msj-item {
    width: 30%; 
    max-height: 45%;
    padding: 1rem; margin: 0.5rem;
    background-color: white;
    color: black;
}
.panel-body .panel-container .msj-list .msj-item p {
    font-size: 18px;
    font-weight: 400;
}
.panel-body .panel-container .msj-list .msj-item p b {
    font-weight: 600;
}
.panel-body .panel-container .msj-list .msj-item .item-header {
    margin-bottom: 1rem;
}

